:root {
  --bgColor: rgb(238, 243, 252);
  --blue: rgb(53, 87, 238);
  --width1: 8rem;
  --width2: 15rem;
  --space1: 10px;
  --space2: 15px;
  --space3: 17px;
}

#app {
  background-color: var(--bgColor);
  min-height: 100%;
  font-family: sans-serif;
  overflow-x: hidden;
}

/*--components*/
/* Button*/
.button {
  background-color: var(--blue);
  color: white;
  padding: var(--space3);
  border-radius: 10px;
  border: none;
  outline: none;
  width: var(--width2);
  transition: ease 0.5s;
}

.button:hover {
  color: var(--blue);
  background-color: white;
  border: 1px solid var(--blue);
}

.button:disabled {
  background-color: gray;
}

/*input*/
.auth input {
  border: none;
  outline: none;
  border-radius: var(--space1);
  padding: var(--space2);
  width: var(--width2);
  /* margin: var(--space);*/
}

.input-error {
  color: red;
}

/* links*/
a {
  text-decoration: none;
  color: var(--blue);
  font-weight: bold;
}

/*loading spinner*/
.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.loader-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgb(0, 255, 34);
  border-top: 5px solid var(--blue);
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*error handler*/
.error-container {
  background-color: rgb(182, 7, 7);
  padding: var(--space2);
  margin: 0 20px;
}

.error-message {
  color: white;
  font-weight: bold;
}

/*--pages*/
main {
  min-height: 100vh;
  padding: 0 var(--space1);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: var(--space1);
  text-align: center;
}

/*home page*/
#home img {
  backdrop-filter: blur(10px);
  opacity: 0.9;
  border-radius: var(--space1);
  width: 100%;
  height: auto;
  object-fit: cover;
}

/*signIn page*/
#sign-in img {
  width: var(--width2);
  height: auto;
  object-fit: cover;
  border-radius: var(--space1);
}

/*main page*/
#main {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  gap: var(--space1);
  text-align: center;
}

#main .img-wrapper {
  width: 100vw;
  height: 30%;
  background-color: var(--blue);
}

.img-wrapper p {
  color: white;
}

.img-wrapper img {
  padding: var(--space3);
  width: var(--width1);
  height: var(--width1);
  object-fit: cover;
  border-radius: 50%;
}

.clock,
.todo-section {
  display: flex;
  justify-content: center;
  gap: var(--space1);
}

.clock {
  margin: var(--space2);
  padding: var(--space1);
  background-color: #fff;
  border-radius: var(--space1);
  width: 200px;
  text-align: center;
}

#main h4 {
  text-align: left;
}

#main .card {
  border-radius: var(--space3);
  background-color: white;
  padding: var(--space1);
  box-shadow: 2px 5px 4px 0px #ddd;
  width: 80vw;
}

.add-todo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.add-todo input {
  flex: 2;
  outline: none;
  border: none;
  border-bottom: 1px solid #ddd;
  transition: ease 0.5s;
}

.add-todo input:focus {
  border-bottom: 1.5px solid var(--blue);
}

.add-todo button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: none;
  border: 2.5px solid var(--blue);
  background-color: white;
  color: var(--blue);
  transition: ease 0.5s;
}

.add-todo button:hover {
  background-color: var(--blue);
  color: white;
}

.li {
  margin-top: 2rem;
  max-height: 30%;
  overflow-y: scroll;
}

@media screen and (min-width:40em) {

  /*main page*/
  #main .card {
    width: 50vw;
  }
}

@media screen and (min-width:60em) {

  /*home page*/
  #home p {
    width: 40vw;
  }

  /*signin-page*/
  #sign-in img {
    display: none;
  }

  /*main page*/
  #main .card {
    width: 30vw;
  }
}